@page "/resetpassword"
@using LittleFlowerKalewadi.ViewModels
@inject IResetPasswordViewModel _resetPasswordViewModel
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient

<EditForm class="contact-form-area mb-100" Model="_resetPasswordViewModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <section class="contact-area section-padding-200-0">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="section-heading">
                        <h2>Password Reset</h2>
                        <p>Reset your password below</p>
                    </div>
                    <div class="contact-form-area mb-100">
                        <div class="row">
                                <div class="col-12">
                                <div class="form-group">
                                    New Password
                                    <InputText type="password" @bind-Value="_resetPasswordViewModel.Password" class="form-control"/>
                                    <ValidationMessage For="@(() => _resetPasswordViewModel.Password)" />
                                </div>                        
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    Confirm Password
                                    <InputText type="password" @bind-Value="_resetPasswordViewModel.ConfirmPassword" class="form-control"/>
                                    <ValidationMessage For="@(() => _resetPasswordViewModel.ConfirmPassword)" />
                                </div>                        
                            </div>
                            <br />
                            <div class="col-12">
                                <button class="btn alazea-btn mt-15" type="submit">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</EditForm>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        var authState = await authenticationState;//_authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if(!user.Identity.IsAuthenticated)
        {
            _navigationManager.NavigateTo("/");
        }       
    }

    public async Task HandleValidSubmit()
    {
        await _resetPasswordViewModel.ResetPassword();
        await _httpClient.GetAsync("user/logoutuser");
        _navigationManager.NavigateTo("/login",true);
    }

}