@inject NavigationManager _navigationManager
@inject HttpClient _httpClient

<AuthorizeView>
    <Authorized>
        <div class="login">
            <a href="profile"><i class="fa fa-user" aria-hidden="true"></i> <span>Logged in as @context.User.Identity.Name</span></a>            
            <a href="#" @onclick="LogoutUser"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Log out</span></a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login">
            <a href="login"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Login</span></a>
            <a href="register"><i class="fa fa-user" aria-hidden="true"></i> <span>Register</span></a>
        </div>
        @* <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a> *@
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task LogoutUser()
    {
        await _httpClient.GetAsync("user/logoutuser");
        _navigationManager.NavigateTo("/", true);
    }
}
