@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="login">
            <a href="authentication/profile"><i class="fa fa-user" aria-hidden="true"></i> <span>Logged in as @context.User.Identity.Name</span></a>            
            <a href="#" @onclick="BeginSignOut"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Log out</span></a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login">
            <a href="authentication/login"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Login</span></a>
            <a href="authentication/register"><i class="fa fa-user" aria-hidden="true"></i> <span>Register</span></a>
        </div>
        @* <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a> *@
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
